*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
height:100vh;
overflow:hidden;
}

/* NAVBAR */
.navbar{
position:absolute;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:25px 80px;
background:transparent;
}

.navbar ul{
display:flex;
list-style:none;
gap:30px;
}

.navbar a{
color:white;
text-decoration:none;
opacity:0.8;
transition:0.3s;
}

.navbar a:hover{
opacity:1;
}

/* HERO */
.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 80px;
}

/* LEFT */
.hero-left{
width:50%;
animation:fadeUp 1.2s ease;
}

.hello{
letter-spacing:3px;
opacity:0.7;
}

h1{
font-size:48px;
margin:10px 0;
}

h2{
font-weight:400;
color:#00f7ff;
margin-bottom:20px;
}

.desc{
opacity:0.7;
margin-bottom:30px;
}

.stats{
display:flex;
gap:40px;
margin-bottom:30px;
}

.stats h3{
font-size:28px;
color:#00f7ff;
}

.skills{
font-size:28px;
display:flex;
gap:20px;
margin-bottom:25px;
}

.skills i{
transition:0.3s;
}

.skills i:hover{
color:#00f7ff;
transform:scale(1.2);
}

.contact a{
color:white;
font-size:22px;
margin-right:20px;
transition:0.3s;
}

.contact a:hover{
color:#00f7ff;
}

/* RIGHT */
.hero-right{
width:40%;
display:flex;
justify-content:center;
}

.card{
width:280px;
height:380px;
border-radius:20px;
overflow:hidden;
box-shadow:0 20px 50px rgba(0,0,0,0.5);
animation:fadeRight 1.2s ease;
}

.card img{
width:100%;
height:100%;
object-fit:cover;
}

.card-wrapper{
    perspective:1200px;
}

.card{
    width:280px;
    height:380px;
    border-radius:20px;
    overflow:hidden;
    position:relative;
    transform-style:preserve-3d;
    transition:transform 0.2s ease;
    background:linear-gradient(45deg,#ff00cc,#00f7ff,#3333ff,#ffcc00);
    background-size:400% 400%;
    animation:gradientMove 6s ease infinite;
    padding:4px;
}

.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:16px;
    position:relative;
    z-index:2;
}

/* Glow luar hidup */
.card::before{
    content:"";
    position:absolute;
    inset:-15px;
    background:linear-gradient(45deg,#ff00cc,#00f7ff,#3333ff,#ffcc00);
    background-size:400% 400%;
    filter:blur(35px);
    animation:gradientMove 6s ease infinite;
    z-index:0;
    opacity:0.7;
}

/* Cahaya ikut gerak */
.card-glow{
    position:absolute;
    width:150px;
    height:150px;
    background:radial-gradient(circle,rgba(255,255,255,0.6),transparent 70%);
    border-radius:50%;
    pointer-events:none;
    transform:translate(-50%,-50%);
    z-index:1;
}

@keyframes gradientMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}
/* ANIMATIONS */
@keyframes fadeUp{
from{opacity:0;transform:translateY(50px);}
to{opacity:1;transform:translateY(0);}
}

@keyframes fadeRight{
from{opacity:0;transform:translateX(80px);}
to{opacity:1;transform:translateX(0);}
}
